@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

$--butons-color: #8981ea;
$--Font-f: "Krona One", sans-serif;
$--Font-regular: "Rubik", sans-serif;
$--sapce-sections: 4rem;
